terratowns_endpoint="https://terratowns.cloud/api"
anime = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/anime"
  content_version = 2 
}
warzone = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/warzone"
  content_version = 1 
}